body, html {
    width: 100%;
}

.banner_img {
    opacity: 0.5;
}

/* .name_text {
    font-family: 'Permanent Marker', cursive;
    font-size: 34px;
} */

.top-info, .name-text, .header {
    font-family: 'Staatliches', cursive;
}

.text {
    font-family: 'Cardo', serif;
    font-size: 22px;
}

.carousel {
    /* margin-top: 50px; */
    height: 200px;
}

#bottom_fade {
	width: 100%;
	height: 200px;
	z-index: 1;
    position: fixed;
	bottom: 0px;
	background: url("../images/bottom-fade.png") bottom center;
}

/* #to-top {
    z-index: 2;
    text-align: center;
} */
